/*html {
	background-color: #111;
    color: #f6f6f6;
    font-size: 1em;
    line-height: 1.4;
}*/
.navbar{	
	padding: 10px 15px;
	/*min-height: 80px;*/
}
.navbar-brand img{
	margin: -28px 0 20px 5px;
}

.row{
    margin-top: 5px;
}


#content{
	margin: 0;
	width: 100%;
}

.centered-content{
	padding-top: 50px;
	margin: auto;
	width: 50%;
}


.notification{	
	border-radius: 10px;
	color: #fefffd;
	padding: 6px;
	text-align: center;
}

.alert{
	text-align: center;
}

